body {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px, 100px;
	color: #fff;
	background: #262626;
}

.logo {
	font-family: cursive;
	font-size: 25px;
	margin: 14px;
}

.menu-area ul li {
	display: inline-block;
	margin: 0 15px;
}

.menu-area ul li a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.contact-btn button {
	color: #fff;
	cursor: pointer;
	font-weight: 1000;
	text-transform: uppercase;
	padding: 12px, 30px;
	border: 2px solid #fff;
	border-radius: 4px;
	background-color: transparent;
	margin-right: 14px;
}

.header-area {
	height: 100vh;
	background-image: url(4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.page_body {
	background-color: rgba(213,124,33, 0.3);
	font-size: 140%;
}

.page_body h1 {
	text-align: center;
}

.menu_block {
	border: 2px solid black;
	margin: 60px;
	padding: 40px;
}
.food_menu {
  border-bottom: 1px dotted #000;
  width: 100%;
  height: 32px;
  margin-bottom: 40px;
  position: relative;
}

.food_menu span {
  position: absolute;
  left: 0px;
  top: 7px;
}
.food_menu .food_description {
  position: absolute;
  left: 0px;
  top: 25px;
	font-size: 18px;
	font-family: cursive;
	color: rgba(31,21,19, 0.8);
	margin-top: 7px;
}
.food_menu span + span + span {
  position: absolute;
  left: auto;
  right: 0px;
  top: 7px;
}

.locations {
	display: flex;
  flex-direction: column;
	align-items: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-left: 300px;
	margin-right: 300px;
}

.location {
	background-color: #f1f1f1;
  width: 500px;
  text-align: center;
	background-color: inherit;
  line-height: 80px;
  font-size: 20px;
}

.cafe_description {

}

.cafe_img {
	height: 70vh;
	background-image: url(1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
